* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: lightpink;
}
legend {
    font-size: 28px;
    background-color: deeppink;
    border-radius: 24px;
    padding: 2px 12px;
    border: 2px solid #000;
    width: 200px;
}

.fieldset, .fieldset-review {
    font-weight: bold;
    background-color: red;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    row-gap: 10px;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 24px;
}

.fieldset-review {
    row-gap: 20px;
}
.label {
    display: flex;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    /*column-gap: 10px;*/
}
.input-field {
    width: 350px;
    height: 25px;
    border: 2px solid #000;
    padding-left: 3px;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: "Courier New";
}

#select-block {
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-family: "Courier New";
    padding: 2px;

    border: 2px solid #000;
}
.option {
    background-color: red;
}

.label-review {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
}

.textarea {
    width: 450px;
    height: 100px;
    border: 2px solid #000;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: "Courier New";
    padding: 2px 5px;
}


button {
    font-size: 28px;
    background-color: #010101;
    border-radius: 24px;
    padding: 2px 12px;
    border: 2px solid #000;
    font-weight: bold;
    width: 235px;
    cursor: pointer;
    color: deeppink;
}
button:hover {
    background-color: lightpink;
    color: #010101;
}